@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}

h1,h2{
    text-align: center;
}

h1{
    font-size: 48px;
    padding-top: 20px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 28px;
    padding-top: 8px;
}

p{
    font-size: 22px;
    padding-top: 15px;
}

.container{
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.Add{
    position: fixed;
    bottom: 20px;
    right: 30px;
}

.Add img{
    width: 100px;
    height: 100px;
}

.card{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 15px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
}

.title{
    height: 50px;
    padding-top: 10px;
}

.scroll{
    height: 220px;
    padding: 15px;
    overflow: auto;
    line-height: 1.15;
}

.priority{
    display: inline-block;
}

.date{
    font-size: 14px;
}

.card button{
    
    width: 130px;
    height: 40px;
    padding: 10px;
    bottom: 10px;
    font-size: 18px;
    border-radius: 8px;
}

.remove{
    color: rgb(245, 31, 31);
    transition: all 0.2s ease-in-out;
}

.remove:hover{
    color: rgb(133, 23, 23);
    transform: scale(1.1);
}

.Middle, .Middle Select{
    background-color: rgb(248, 248, 143);
}

.High, .High Select{
    background-color: rgb(247, 125, 125);
}