@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100%;
}


h1{
    font-size: 34px;
    font-weight: 700;
    text-align: center;
}

h2{
    font-size: 30px;
    text-align: center;
}

h3{
    font-size: 28px;
    font-weight: 700;
    padding-top: 8px;
}

p{
    font-size: 22px;
    padding-top: 15px;
}

.container{
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.Add{
    position: fixed;
    bottom: 20px;
    right: 30px;

}

.Add img{
    width: 100px;
    height: 100px;
}

.Add button{
    font-size: 100px;
    background-color: rgb(238, 241, 245);

}

.card{
    position: relative;
    
    width: 300px;
    height: 400px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    margin: 15px;
}

.title{
    height: 50px;
}

.scroll{
    height: 220px;
    overflow: auto;
    padding: 15px;
    line-height: 1.15;
}

.card select{
    height: 50px;
}

.card button{
    position: absolute;
    border-radius: 8px;
    width: 130px;
    height: 40px;
    padding: 10px;
    bottom: 10px;
}

.change{
    right: 10px;
}

.remove{
    left: 10px;
}

option,select,button,label{
    text-align: center;
    font-size: 18px;
}